/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
body{
  font-family: 'Montserrat', sans-serif;
}
/* --------------------------MIX------------------------ */
.central{
  width: 75%;
  margin: auto;
}
.central-2{
  width: 75%;
  margin: auto;
  position: relative;
}
#lens{
  color: #2ecddf;
}
#divisorio{
  margin: 0 8px;
}
.pulsante{
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.vuoto{
  background-color: white;
  color: #ff7a59;
  border: 2px solid #ff7a59;
}
.pieno{
  background-color: #ff7a59;
  color: white;
  border: 2px solid #ff7a59;
}
.grosso{
  text-decoration: none;
  padding: 20px;
  background-color: #ff7a59;
  color: white;
}
.hr-spesso{
  border: 2px solid #33475b;
}
/* --------------------------/MIX------------------------ */
/* --------------------------HEADER------------------------ */
header{
  background-color: #f5f8fa;
}
.config{
  display: inline-block;
  margin: 18px 0;
}
.setup{
  width:calc(60% - 15px);
  text-align:left;
}
.account{
  width:calc(40% - 15px);
  text-align: right;
}
.setup li, .setup a {
  display: inline-block;
  text-decoration: none;
  color: #33475b;
  font-size: 12px;
  font-weight: 500;
}
.account li, .account a{
  display: inline-block;
  text-decoration: none;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 500;
}
/* ------------------------------- */
.menu{
  background-color: white;
}
.logo{
  width: 10%;
  vertical-align: middle;
}
.info{
  width: 87%;
  text-align: right;
  vertical-align: middle;
}
.info li, .info a{
  display: inline-block;
  text-decoration: none;
  color: #33475b;
  font-size: 12px;
  font-weight: 500;
}
.info i{
  margin-left: 5px;
}
 .info a{
   margin-left:10px;
 }
 /* ------------------------------- */
 .principale{
   height: 550px;
   background-image: url("../img/jumbotron.png");
   background-size: contain;
   background-position:100%;
   background-repeat: no-repeat;
 }
 .contenuto{
   max-width: 45%;
   position: absolute;
   top: 55px;
   color: #33475b;
 }
 .contenuto h1{
   font-size: 40px;
   font-weight: 700;
 }
 .contenuto p{
   margin: 20px 0;
   font-size: 12px;
   font-weight: 500;
 }
 .contenuto a{
   font-size: 12px;
   font-weight: 500;
 }
 /* ------------------------------- */
.separatore{
  height: 80px;
  background-color: #75dfcc;
}
/* --------------------------/HEADER------------------------ */
