/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
body{
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
  background-color: #f5f8fa;
  font-size: 16px;
  font-weight: 500;
}
/* --------------------------MIX------------------------ */
h3{
  font-size: 26px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 12px;
}
.central{
  width: 75%;
  margin: auto;
}
#lens{
  color: #2ecddf;
}
/* -------relativi ai buttons------- */
.pulsante{
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: 2px solid #ff7a59;
}
.vuoto{
  background-color: white;
  color: #ff7a59;
}
.pieno{
  background-color: #ff7a59;
  color: white;
}
.grosso{
  text-decoration: none;
  padding: 20px 32px;
}
#btm-foot{
  text-decoration: none;
  background-color: #cbd6e2;
  color: #2d3e50;
  border: 2px solid #cbd6e2;
}
/* -------/ relativi ai buttons------- */
/* -------divosori vari------- */
.special-hr{
  max-width: 90%;
  margin: auto;
}
#divisorio{
  margin: 0 8px;
}
#hr-in{
  display: inline-block;
  width:calc(70% - 40px);
  vertical-align: middle;
}
/* -------/divosori vari------- */
/* --------------------------/MIX------------------------ */
/* --------------------------HEADER------------------------ */
/* -------------home------------ */
.home{
  border-bottom: 1px solid black;
}
.config{
  display: inline-block;
  margin: 18px 0;
}
.setup-pagina{
  width:calc(60% - 15px);
  text-align:left;
}
.account{
  width:calc(40% - 15px);
  text-align: right;
}
.setup-pagina li, .setup-pagina a, .info li, .info a{
  display: inline-block;
  text-decoration: none;
  color: #33475b;
}
.account li, .account a{
  display: inline-block;
  text-decoration: none;
  margin-left: 15px;
}
/* -------------/home------------ */
/* -------------menu------------- */
.menu{
  background-color: white;
}
.logo{
  width: 10%;
  vertical-align: middle;
}
.info{
  width: 87%;
  text-align: right;
  vertical-align: middle;
}
.info i{
  margin-left: 5px;
}
 .info a{
   margin-left:10px;
 }
 /* -------------/menu------------- */
 /* -----------principale----------- */
 .principale{
   height: 600px;
   width: 100%;
   background-color: #fff3ee;
   background-image: url("../img/jumbotron.png");
   background-size: contain;
   background-position: right;
   background-repeat: no-repeat;
   position: relative;
 }
 .principale .central .contenuto-banner{
   max-width: 40%;
   position: absolute;
   top: 55px;
 }
 .contenuto-banner h1{
   font-size: 50px;
   font-weight: 700;
 }
 .contenuto-banner p, .cella-tre .colonna-sx p{
   margin: 20px 0;
 }
 /* -----------/principale----------- */
 /* -----------separatore/overlay---------- */
.principale::after{
  content: "";
  display: block;
  height: 70px;
  width: 100%;
  background-color: #75dfcc;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
}
/* -----------/separatore/overlay---------- */
/* --------------------------/HEADER------------------------ */
/* --------------------------MAIN------------------------ */
/* CLEARFIX */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* /CLEARFIX */
/* -----------cella zero------------- */
.centrato{
  max-width: 65%;
  margin: auto;
  text-align: center;
}
.centrato .cubo{
  margin-top: 50px;
  margin-bottom: 10px;
  height: 230px;
}
.centrato h2{
 font-size: 40px;
 margin-bottom: 30px;
}
.centrato p{
  margin-bottom: 30px;
}
/* -----------/cella zero------------- */
/* -----------/cella uno---------- */
.cella-uno{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 3px  lightgrey;
  padding: 70px;
}
.col1{
  float: left;
  width: calc(30% - 70px);
  display: inline-block;
  margin-right: 70px;
  text-align: center;
}
.col1 img{
  height: 120px;
  margin-bottom: 20px;
}
.col2{
  float: left;
  width: 70%;
  display: inline-block;
}
.col2 h3, .col2 p, .col2 h4, .col2 #hr-in{
  margin-bottom: 30px;
  max-width: 80%;
}
.col2 h4{
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}
.col2 li{
  display: inline-block;
  margin-right: 15px;
}
.col2 i{
  margin-right: 15px;
  color: #ff7a59;
}
/* -----------/cella uno---------- */
/* ------------cella due---------- */
.cella-due{
  padding: 50px 0;
}
.col-sx, .col-dx, .col-cen {
  float: left;
  width: calc(90% / 3 );
  display: inline-block;
  text-align:center;
  padding: 20px;
}
.col-cen{
  margin: 0 5%;
}
.col-sx img, .col-dx img, .col-cen img{
  margin: auto;
  height: 120px;
}
.col-sx a, .col-dx a, .col-cen a{
  margin-top: 20px;
}
.cella-due img, .cella-due h3, .cella-due h4, .cella-due p, .cella-due .special-hr{
  margin-bottom: 20px;
}
.cella-due  li{
  text-align: left;
  list-style: none;
}
.cella-due  i{
  margin-right: 15px;
  color: #ff7a59;
}
/* ------------cella due---------- */
/* ----------------cella gradiente--------------- */
.cella-gradiente{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  padding: 50px 0;
  color: white;
}
.cella-gradiente .central{
  text-align: center;
}
.cella-gradiente .central p{
  margin: 30px 0;
}
.tabella .box{
  width: 25%;
  display: inline-block;
  padding: 25px 0;
}
/*relativi alla griglia della "tabella" */
.tabella .one, .tabella .two, .tabella .three{
  border-right: 1px solid white;
}
.tabella .riga1{
  border-bottom: 1px solid white;
}
/*/relativi alla griglia della "tabella" */
.box h2{
  margin: 15px 0;
  font-size: 50px;
  vertical-align: middle;
}
.box h2 .plus{
  vertical-align: middle;
  font-size: 30px;
}
/* -----------------/cella gradiente------------- */
/* ------------cella partners---------- */
.cella-partners, .cella-tre{
  background-color: white;
  padding: 50px 0;
}
.cella-partners .col-uno{
  float: left;
  width: calc(30% - 120px);
  display: inline-block;
  margin: 0 60px;
}
.cella-partners .col-uno h2{
  font-size: 50px;
  margin-bottom: 40px;
}
.cella-partners .col-uno li, .cella-f-sup .box li{
  list-style: none;
  margin-bottom: 12px;
}
.cella-partners .col-due{
  float: left;
  width: 70%;
  display: inline-block;
  text-align: center;
}
.tabella-partners .box, .cella-f-sup .box{
  width: calc(25% - 20px);
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.tabella-partners .box img{
  max-width: 100%;
}
.tabella-partners .riga1p{
  margin-bottom: 30px;
}
/* ------------/cella partners---------- */
/* ------------cella-tre---------- */
.cella-tre .colonna-sx{
  float: left;
  width: 70%;
  margin-top: 50px;
  display: inline-block;
}
.cella-tre .colonna-dx{
  float: left;
  width: 30%;
  display: inline-block;
}
.cella-tre .colonna-sx h2{
  font-size: 32px;
  font-weight: 700;
}
.cella-tre .colonna-dx img{
  max-width: 100%;
}
.cella-tre .colonna-sx h2, .cella-tre .colonna-sx p, .cella-tre .colonna-sx a{
  max-width: 70%;
}
/* ------------/cella-tre---------- */
/* --------------------------/MAIN------------------------ */
/* --------------------------FOOTER------------------------ */
footer{
  background-color: #2d3e50;
  color:#cbd6e2;
  padding: 40px 0;
  font-size: 14px;
}
/* ------------cella-f-sup---------- */
.cella-f-sup .box{
  height: 260px; /*da ridurre*/
  margin-bottom: 40px;
}
.cella-f-sup .four .social-icon{
  font-size: 18px;
  margin-right: 20px;
}
/* ------------/cella-f-sup---------- */
/* ------------cella-f-inf---------- */
/* ----language------ */
.cella-f-inf .language{
  text-align: center;
  border-bottom: 2px solid white;
}
.cella-f-inf .language li{
  display: inline-block;
  margin: 0 12px 15px 12px;
}
/* ----/language------ */
/* ----copyright------ */
.copyright{
  margin-top: 20px;
}
.logo-f, .doc-privacy {
  display: inline-block;
  vertical-align: middle;
}
.logo-f{
  width: 30%;
}
.doc-privacy{
  width: 70%;
  text-align: right;
}
.doc-privacy li{
  display: inline-block;
  margin-left: 20px;
}
/* ----/copyright------ */
/* ------------/cella-f-inf---------- */
/* --------------------------/FOOTER------------------------ */
